---
layout: default
title: Home
pagination:
  enabled: true
---

{% if page.url == "/" or page.url == '/index.html' %}

    {% assign featuredposts_array = site.posts |  where:"featured","true" %}

    {% if featuredposts_array.size > 0 %}

        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Featured</span></h2>
            </div>
            <div class="row">

                {% assign feature_array = site.posts | where_exp:"item","item.featured == true" %}

                {% for post in feature_array limit:2 %}

                        {%if post.tags contains 'blog' %}

                            {% include featuredbox.html %}

                        {% endif %}

                {% endfor %}

            </div>
        </section>

    {% endif %}

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

            {% include postbox.html %}

        {% endfor %}

    </div>
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup">
        <i class="fa fa-caret-up"></i>
    </div>
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>
