---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.lead {
	font-size: 1.1rem;
}

.sitetitle {
	font-family: Righteous;
}

.h1, h1 {
	font-size: 2rem;
}

.article-post {
	font-size: 1rem;
}

.post-top-meta .author-thumb {
    width: 50px;
    height: 50px;
}