---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.lead {
	font-size: 1rem;
}

.h1, h1 {
	font-size: 2rem;
}

.article-post {
	font-size: 1rem;
}

.post-top-meta .author-thumb {
    width: 50px;
    height: 50px;
}

/* Need to ensure that video_list _layouts have the right fonts. */
.layout-video_list .article-post, .layout-video_layout .article-post {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.layout-video_list .jumbotron.fortags, .layout-video_layout .jumbotron.fortags {
    display: none;
}

/* Responsive Youtube container */

.video-container {
    overflow: hidden;
    position: relative;
	width:100%;
	margin-bottom: 20px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
